body {
    background-color: aquamarine;
    margin: 50px 25px 50px 25px;
    font-family: "jetbrains mono";

    background: url(bg_image.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img {
    border-style: dashed;
    border-radius: 200px;
    border-width: 3px;
    border-color: transparent;
}

h1, h2, p {
    text-align: center;
}

h1, h2 {
    font-family: serif;
}

table {
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    width: 100%;
    padding: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}

.personal-info {
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    border-color: white;

}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.skill {
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    margin: 10px;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 5px 20px 5px 20px
}

.project-name {
    font-weight: 1000;
}