.login-from-outer-container,
.login-from-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-from-outer-container {
    height: calc(100vh - 70px);
}

.login-from-inner-container {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.25),
                -3px -2px 5px rgb(0, 0, 0, 0.25);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-size: 14px;
}

.login-form input {
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 17px;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 250px;
}

.login-form button {
    font-size: 17px;
    padding: 6px;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
}

.login-form button:hover {
    opacity: 0.8;
}

.login-form button:active {
    opacity: 0.6;
}