body {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: rgb(255, 220, 63);

    font-family: 'ink free', 'OLd English Text MT', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, p {
    text-align: center;
    color: rgb(45, 223, 140);
}

h1 {
    font-family: 'Bauhaus 93', 'Cooper Black', forte;
    font-weight: 100;
    font-size: 60px;
}

p, button {
    font-size: 25px;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

img {
    border-style:solid;
    border-width: 10px;
    border-radius: 25px;
    border-color:  rgb(233, 193, 16);
}

button {
    color: white;
    background-color: rgb(45, 223, 140);
    margin-top: 40px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    width: 200px;
    font-family: 'ink free';
}

button:hover {
    background-color: rgb(28, 156, 97);
}

button:active {
    background-color:  rgb(45, 223, 140);
}